
<div class="main-body">
  <div style="display: flex; justify-content: space-between; align-items: center;">

    <h3>Cadastro de Tipo de Itens</h3>
    <button mat-raised-button color="primary" (click)="openAddEditUserForm()">Adicionar Novo</button>
  </div>

  <div style="margin-top: 20px;"></div>
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Funcionário, Residencial" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #bdbdbd; color: white;border: 1px solid #e0e0e0"> Código </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="nomeCombo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #bdbdbd; color: white;border: 1px solid #e0e0e0"> Categoria </th>
        <td mat-cell *matCellDef="let row"> {{row.nomeCombo}}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #bdbdbd; color: white;border: 1px solid #e0e0e0"> Descrição </th>
        <td mat-cell *matCellDef="let row"> {{row.descricao}}</td>
      </ng-container>

      <ng-container matColumnDef="criado_em">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #bdbdbd; color: white;border: 1px solid #e0e0e0"> Criado Em: </th>
        <td mat-cell *matCellDef="let row">{{ row.criado_em | date: 'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="ultimaAlteracao" *ngIf="mostrarColunaUserAlteracao" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #bdbdbd; color: white;border: 1px solid #e0e0e0"> Alterado em: </th>
        <td mat-cell *matCellDef="let row" style="color: #bdbdbd;">{{ row.ultimaAlteracao | date: 'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #bdbdbd; color: white;border: 1px solid #e0e0e0"> Ação </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Não encontrado dados com o filtro utilizado: "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Qtde. por página"></mat-paginator>
  </div>
</div>



